﻿@model NETFLIPFLOP.Models.MOVIE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>MOVIE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LICENSE_COST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LICENSE_COST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SCORE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SCORE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_ARRIVE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_ARRIVE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.POSTERURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.POSTERURL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TAG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TAG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VIDEOURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VIDEOURL)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
