﻿@model NETFLIPFLOP.Models.MOVIE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MOVIE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LICENSE_COST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LICENSE_COST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SCORE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SCORE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_ARRIVE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_ARRIVE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.POSTERURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.POSTERURL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TAG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TAG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VIDEOURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VIDEOURL)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
