﻿@model IEnumerable<NETFLIPFLOP.Models.MOVIE>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LICENSE_COST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCORE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_ARRIVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POSTERURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIDEOURL)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LICENSE_COST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCORE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_ARRIVE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POSTERURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIDEOURL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
