﻿@model NETFLIPFLOP.Models.CUSTOMER

@using System.Globalization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            if (document.referrer.search("Watch")==-1) {
                $("edit").show();
                $("buy").hide();
            }
            else {
                $("edit").hide();
                $("buy").show();
            }
        $("#edit").click(function () {
            $("buy").hide();
            $("edit").show();
        });
        $("#buy").click(function () {
            $("edit").hide();
            $("buy").show();
        });
    });
    
    </script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            /* Change the link color on hover */
            li a:hover {
                background-color: #555;
                color: white;
            }

        table {
            font-family:;
            border-collapse: collapse;
            width: 70%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>
<style type="text/css">
    #wrapper {
        width: 450px;
        margin: 0 auto;
        font-family: Verdana, sans-serif;
    }

    legend {
        color: #0481b1;
        font-size: 16px;
        padding: 0 10px;
        background: #fff;
        -moz-border-radius: 4px;
        box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
        padding: 5px 10px;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
    }

    fieldset {
        border-radius: 4px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
        / background: -webkit-linear-gradient(#fff, #f9fdff);
        padding: 20px;
        border-color: rgba(4, 129, 177, 0.4);
    }

    input,
    textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom: 15px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }

        input[type="text"],
        input[type="password"] {
            padding: 8px 6px;
            height: 22px;
            width: 280px;
        }

            input[type="text"]:focus,
            input[type="password"]:focus {
                background: #f5fcfe;
                text-indent: 0;
                z-index: 1;
                color: #373737;
                -webkit-transition-duration: 400ms;
                -webkit-transition-property: width, background;
                -webkit-transition-timing-function: ease;
                -moz-transition-duration: 400ms;
                -moz-transition-property: width, background;
                -moz-transition-timing-function: ease;
                -o-transition-duration: 400ms;
                -o-transition-property: width, background;
                -o-transition-timing-function: ease;
                width: 380px;
                border-color: #ccc;
                box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
                opacity: 0.6;
            }

        input[type="submit"] {
            background: #222;
            border: none;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
            text-transform: uppercase;
            color: #eee;
            cursor: pointer;
            font-size: 15px;
            margin: 5px 0;
            padding: 5px 22px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }

    textarea {
        padding: 3px;
        width: 96%;
        height: 100px;
    }

        textarea:focus {
            background: #ebf8fd;
            text-indent: 0;
            z-index: 1;
            color: #373737;
            opacity: 0.6;
            box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
            border-color: #ccc;
        }

    .small {
        line-height: 14px;
        font-size: 12px;
        color: #999898;
        margin-bottom: 3px;
    }
BanUL {
    top:0px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    position:fixed;
    width:100%;
}
    BanLI {
    float:right;
    margin-right: 3%;
    margin-top: 1%;
}
</style>
<body>
    <BanUL>
        <a href="@Url.Action("Index", "Movie")"><img id="Logo" src="@Url.Content("~/Content/Images/netflipflop.png")" align="left" alt="" width="258" height="51" /></a>
        <BanLI align="Right">
            @if (User.Identity.IsAuthenticated)
            {
                <strong style="color: #cc0000">Hi! @Html.Encode(User.Identity.Name)</strong><br />
                <a style="color: #cc0000">@Html.ActionLink("Edit Profile", "Edit", "User")</a><span> | </span><a>@Html.ActionLink("LogOut", "LogOut", "User")</a>
            }
            else
            {
                <a style="color: #cc0000">@Html.ActionLink("Log In", "LogIn", "User")</a>
            }
        </BanLI>
    </BanUL>
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CREATE_FORM" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" id="wrapper" style="width:80%">
            <center>
                <form action="" method="post">
                    <fieldset>
                        <legend>Edit Profile</legend>
                        <div style="width: 30%; float:left">
                            <ul>
                                <li id="edit"><a href="#">Edit Profile</a></li>
                                <li id="buy"><a href="#">Buy Package</a></li>
                            </ul>
                        </div>
                        <div>
                            <edit>
                                <table>
                                    <div class="form-horizontal">
                                        @Html.HiddenFor(model => model.ID)
                                        <tr>
                                            <div class="form-group">
                                                <th>
                                                    <strong>User name</strong>
                                                </th>
                                                <th>
                                                    @Model.USERNAME
                                                    <div class="col-md-10" style="display: none;">
                                                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </th>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="form-group">
                                                <th>
                                                    <strong>Password</strong>
                                                </th>
                                                <th>
                                                    ********
                                                    <div class="col-md-10" style="display: none;">
                                                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                                    </div>
                                                </th>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="form-group">

                                                <th>
                                                    <strong>First name</strong>
                                                </th>
                                                <th>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.FNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </th>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="form-group">


                                                <th><strong>Last name</strong></th>
                                                <th>
                                                    <div class="col-md-10">

                                                        @Html.EditorFor(model => model.LNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.LNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </th>
                                            </div>
                                        </tr>
                                    </div>
                                    <tr>
                                        <div class="form-group">
                                            <th><strong>Email </strong> </th>
                                            <th>
                                                @Model.EMAIL
                                                <div class="col-md-10" style="display: none;">
                                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="form-group">
                                            <th>
                                                <strong>PaperPal</strong>
                                            </th>
                                            <th>
                                                @Model.PAPERPAL
                                                <div class="col-md-10" style="display: none;">
                                                    @Html.EditorFor(model => model.PAPERPAL, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PAPERPAL, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="form-group">
                                            <th><strong>Package</strong> </th>
                                            <th>
                                                @Model.PACKAGE
                                                <div class="col-md-10" style="display: none;">
                                                    @Html.EditorFor(model => model.PACKAGE, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PACKAGE, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="form-group">
                                            <th><strong>Expire date</strong> </th>
                                            <th>
                                                @Model.EXP_DATE.Day @Model.EXP_DATE.Date.ToString("MMMMMMMM", CultureInfo.InvariantCulture) @Model.EXP_DATE.Year
                                                <div class="col-md-10" style="display: none;">
                                                    @Html.EditorFor(model => model.EXP_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.EXP_DATE, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </div>
                                    </tr>
                                </table>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save profile" class="btn btn-default"/>
                                    </div>
                                </div>
                            </edit>

                            <buy style="display : none;">

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center">Basic</td>
                                            <td align="center">Standard</td>
                                            <td align="center">Ultimate</td>
                                        </tr>
                                        <tr>
                                            <td>Monthly price after free month ends</td>
                                            <td align="center">250 B</td>
                                            <td align="center">350 B</td>
                                            <td align="center">500 B</td>
                                        </tr>
                                        <tr>
                                            <td>HD available</td>
                                            <td align="center"><input type="checkbox" onclick="return false;"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                        </tr>
                                        <tr>
                                            <td>Ultra HD available</td>
                                            <td align="center"><input type="checkbox" onclick="return false;"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                        </tr>
                                        <tr>
                                            <td>Screens you can watch on at the same time</td>
                                            <td align="center">1</td>
                                            <td align="center">2</td>
                                            <td align="center">4</td>
                                        </tr>
                                        <tr>
                                            <td>first month free</td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                            <td align="center"><input type="checkbox" onclick="return false;" checked="checked"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="radio" name="package" id="PCKBASIC" />Basic
                                <input type="radio" name="package" id="PCKSTANDARD" />Standard
                                <input type="radio" name="package" id="PCKULTIMATE" />Ultimate

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Buy" class="btn btn-default" onclick="run()" />
                                    </div>
                                </div>
                            </buy>
                        </div>
                    </fieldset>

                </form>
            </center>
        </div>

    }

</body>
<script>
    function run() {        
        if (document.getElementById("PCKBASIC").checked) {
            document.getElementById("PACKAGE").value = "BASIC";
        }
        else if (document.getElementById("PCKSTANDARD").checked) {
            document.getElementById("PACKAGE").value = "STANDARD";
        }
        else if (document.getElementById("PCKULTIMATE").checked) {
            document.getElementById("PACKAGE").value = "ULTIMATE";
        }
        document.getElementById("CREATE_FORM").submit();
    }
</script>

</html>