﻿@model NETFLIPFLOP.Models.CUSTOMER
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script>
        $(document).ready(function () {
      $('.log-btn').click(function () {
          $('.log-status').addClass('wrong-entry');
          $('.alert').fadeIn(500);
          setTimeout("$('.alert').fadeOut(1500);", 3000);
      });
      $('.form-control').keypress(function () {
          $('.log-status').removeClass('wrong-entry');
      });

        });
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/LoginStyleCSS.css">
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "LOGIN_FORM" }))
    {
        <h1><img src="@Url.Content("~/Content/Images/netflipflop5.jpg")" align="" alt="" width="360" height="100" /></h1>
            @Html.AntiForgeryToken()
            <div class="login-form">
                <div class="form-group">
                    @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                        <i class="fa fa-user"></i>
                    </div>
                </div>

                <div class="form-group log-status" type="password">
                    @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger", @type = "password" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="log-btn" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Sign Up", "Create")
                    </div>

                </div>
            </div>
    }



    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>