﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <style type="text/css">
        body {
            background-repeat: no-repeat;
            background-size: cover;
        }

        body, td, th {
            font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
            font-size: 36px;
        }

        tab3 {
            padding-left: 4em;
        }

        #banner {
            position: fixed;
            background-color: white;
            top: 25px;
            left: 28px;
            right: 0;
            width: 1235px;
            height: 61px;
            font-family: Impact, Haettenschweiler;
            font-size: 24px;
        }
    </style>
</head>

<body background="@Url.Content("~/Content/Images/bg3.jpg")">
    <div id="banner">
        <img src="@Url.Content("~/Content/Images/netflipflop.png")" align="left" alt="" width="258" height="51" />
        <p align="right"> @Html.ActionLink("Log In", "LogIn", "User")</p>
</div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><tab3>See what's next.</tab3></p>
    <p><tab3> <a href="@Url.Action("Create", "User")"><img src="@Url.Content("~/Content/Images/join free.JPG")" width="270" height="43" alt="" /></a></tab3></p>
</body>
</html>
