﻿@using NETFLIPFLOP.Models
@model List<INCOME>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Income</title>
</head>
<body>
    <div>
        <strong>Income Per Month</strong> <br />
        Month &emsp; Year &emsp;&emsp; Sum <br />
        @if (true)
        {
            Entities1 db = new Entities1();
            int[] income2016 = new int[13];
            int[] income2017 = new int[13];
            int[] expense2016 = new int[13];
            int[] expense2017 = new int[13];

            int year = 2016;
            int sum = 0;
            for (int i = 1; i <= 12; i++)
            {
                sum = 0;
                foreach(INCOME ic in Model)
                {
                    if(ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }
                income2016[i] = sum;

                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @sum <br />
            }
            
            year = 2017;
            for (int i = 1; i <= 12; i++)
            {
                sum = 0;
                foreach (INCOME ic in Model)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }
                income2017[i] = sum;
                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @sum <br />
            }
             <strong>Expense Per Month</strong> <br />

            year = 2016;
            sum = 0;

            for (int i = 1; i <= 12; i++)
            {

                foreach (MOVIE_EXPENSE ic in db.MOVIE_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }

                foreach (SALARY_EXPENSE ic in db.SALARY_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }

                foreach (SERVER_EXPENSE ic in db.SERVER_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }
                expense2016[i] = sum;
                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @sum <br />
            }
            year = 2017;
            sum = 0;

            for (int i = 1; i <= 12; i++)
            {

                foreach (MOVIE_EXPENSE ic in db.MOVIE_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }

                foreach (SALARY_EXPENSE ic in db.SALARY_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }

                foreach (SERVER_EXPENSE ic in db.SERVER_EXPENSE)
                {
                    if (ic.PAID_DATE.Year == year && ic.PAID_DATE.Month == i)
                    {
                        sum += ic.COST;
                    }
                }
                expense2017[i] = sum;
                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @sum <br />
            }
            <strong>Profit Per Month</strong> <br />
            year = 2016;
            for (int i = 1; i <= 12; i++)
            {
                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @(income2016[i]-expense2016[i]) <br/>
            }
            year = 2017;
            for (int i = 1; i <= 12; i++)
            {
                @i <h>&emsp;&emsp;&emsp;</h> @year <h>&emsp;&emsp;</h> @(income2017[i] - expense2017[i]) <br />
            }
        }
    </div>
</body>
</html>
