﻿@model List<NETFLIPFLOP.Models.MOVIE>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 10px;
            overflow: hidden;
            background-color: white;
            position: fixed;
            width: 100%;
        }

        li {
            float: right;
            margin-right: 3%;
            margin-top: 1%;
        }

        #Logo {
            margin: 5px;
        }

        #movie_list {
            padding-top: 100px;
            transition: 0.5s;
        }

        #sidebar {
            margin-top: 25%;
            position: fixed;
            transition: 0.5s;
            content: url(../../Content/Images/size.png);
        }

        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111; /* Black*/
            overflow: auto;
            padding-top: 60px;
            transition: 0.5s;
            margin-top: 81px;
            padding-top: 3%;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

        .strong {
            color: white;
            transition: 0.5s;
            visibility: hidden;
            padding-left: 10px;
        }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }
        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    </style>
    <script>
        var CheckState = false;
        var url = null;
            function openNav() {
                document.getElementById("sidebar").style.marginLeft = "150px";
                document.getElementById("mysidenav").style.width = "150px";
                document.getElementById("movie_list").style.marginLeft = "150px";
                var all = document.getElementsByClassName("tx");
                for (var i = 0; i < all.length; i++) {
                    all[i].style.visibility = "visible";
                }
                var all = document.getElementsByClassName("strong");
                for (var i = 0; i < all.length; i++) {
                    all[i].style.visibility = "visible";
                }
            }
            function closeNav() {
                document.getElementById("sidebar").style.marginLeft = "0";
                document.getElementById("mysidenav").style.width = "0";
                document.getElementById("movie_list").style.marginLeft = "0";
                var all = document.getElementsByClassName("tx");
                for (var i = 0; i < all.length; i++) {
                    all[i].style.visibility = "hidden";
                }
                var all = document.getElementsByClassName("strong");
                for (var i = 0; i < all.length; i++) {
                    all[i].style.visibility = "hidden";
                }
            }
            function clickImg()
            {
                if (CheckState == false)
                {
                    openNav();
                }
                else {
                    closeNav();
                }
                CheckState = !CheckState;
            }
            function checkIndex() {
                url = document.URL;
                url = url.substring(url.indexOf("?")-1, url.indexOf("?"));
                var num = "0123456789#";
                if (num.search(url) != -1)
                {
                    openNav();
                    CheckState = true;
                }
            }
            function sortType(sort)
            {
                switch(sort)
                {
                    case 1:
                        window.location.href = window.location.href.substring(0, window.location.href.indexOf('?')) + '?sort=A-Z';
                        break;
                    case 2:
                        window.location.href = window.location.href.substring(0, window.location.href.indexOf('?')) + '?sort=Score';
                        break;
                    case 3:
                        window.location.href = window.location.href.substring(0, window.location.href.indexOf('?')) + '?sort=Arrive';
                        break;
                    default:
                        window.location.href = window.location.href.substring(0, window.location.href.indexOf('?')) + '?sort=A-Z';
                        break;
                }
            }
    </script>
</head>
<body style="background-color:#bcbcbc; margin:0;" onload="checkIndex();">
    <ul>
        <img id="Logo" src="@Url.Content("~/Content/Images/netflipflop.png")" align="left" alt="" width="258" height="51" />
        <li align="Right">
            @if (User.Identity.IsAuthenticated)
            {
                <strong>Hi! @Html.Encode(User.Identity.Name)</strong><br />
                <a>@Html.ActionLink("Edit Profile", "Edit", "User")</a><span> | </span><a>@Html.ActionLink("LogOut", "LogOut", "User")</a>
            }
            else
            {
                <a>@Html.ActionLink("Log In ", "LogIn", "User") |</a> @Html.ActionLink("Sign Up", "Create", "User")
            }
        </li>

    </ul>

    <div id="sidebar" onclick="clickImg()"></div>

    <div class="sidenav" id="mysidenav">
        <strong class="strong">TYPE</strong>
        <a href="@Url.Action("Index/0", "Movie")" class="tx">All</a>
        <a href="@Url.Action("Index/1", "Movie")" class="tx">Action</a>
        <a href="@Url.Action("Index/2", "Movie")" class="tx">Adventure</a>
        <a href="@Url.Action("Index/3", "Movie")" class="tx">Sci-Fi</a>
        <a href="@Url.Action("Index/4", "Movie")" class="tx">Horror</a>
        <a href="@Url.Action("Index/5", "Movie")" class="tx">Comedy</a>
        <a href="@Url.Action("Index/6", "Movie")" class="tx">Thriller</a>
        <a href="@Url.Action("Index/7", "Movie")" class="tx">Fantasy</a>
        <a href="@Url.Action("Index/8", "Movie")" class="tx">Romance</a>
        <a href="@Url.Action("Index/9", "Movie")" class="tx">Crime</a>
        <a href="@Url.Action("Index/10", "Movie")" class="tx">Animation</a>
        <a href="@Url.Action("Index/11", "Movie")" class="tx">Drama</a>
        <strong class="strong">SORT BY</strong>
        <a href="#" class="tx" onclick="sortType(1);">A-Z</a>
        <a href="#" class="tx" onclick="sortType(2);">Score</a>
        <a href="#" class="tx" onclick="sortType(3);">Arrived Date</a>
    </div>
    <div id="movie_list">

        <center>

            <table width="900">
                @for (int i = 0; i < Model.Count; i += 5)
                {
                    <tr>
                        @for (int j = i; j < Model.Count && j < i + 5; j++)
                        {
                            <td><center><img src="@Model[j].POSTERURL" width="214" height="317"></center></td>
                        }
                    </tr>
                    <tr>
                        @for (int j = i; j < Model.Count && j < i + 5; j++)
                        {
                            <td>
                                <center>
                                    @Html.ActionLink(Model[j].NAME, "Watch/" + Model[j].ID, "Movie", new { target = "_blank" })
                                </center>
                            </td>
                        }
                    </tr>
                }
            </table>
        </center>
    </div>
</body>
</html>