﻿@model NETFLIPFLOP.Models.MOVIE
@using NETFLIPFLOP.Models
@using NETFLIPFLOP.Controllers
@using System.Globalization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Watch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            /* Change the link color on hover */
            li a:hover {
                background-color: #555;
                color: white;
            }

        table {
            font-family:;
            border-collapse: collapse;
            width: 70%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>
<style type="text/css">
    #wrapper {
        width: 450px;
        margin: 0 auto;
        font-family: Verdana, sans-serif;
    }

    legend {
        color: #0481b1;
        font-size: 16px;
        padding: 0 10px;
        background: #fff;
        -moz-border-radius: 4px;
        box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
        padding: 5px 10px;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
    }

    fieldset {
        border-radius: 4px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
        / background: -webkit-linear-gradient(#fff, #f9fdff);
        padding: 20px;
        border-color: rgba(4, 129, 177, 0.4);
    }

    input,
    textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom: 15px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }

        input[type="text"],
        input[type="password"] {
            padding: 8px 6px;
            height: 22px;
            width: 280px;
        }

            input[type="text"]:focus,
            input[type="password"]:focus {
                background: #f5fcfe;
                text-indent: 0;
                z-index: 1;
                color: #373737;
                -webkit-transition-duration: 400ms;
                -webkit-transition-property: width, background;
                -webkit-transition-timing-function: ease;
                -moz-transition-duration: 400ms;
                -moz-transition-property: width, background;
                -moz-transition-timing-function: ease;
                -o-transition-duration: 400ms;
                -o-transition-property: width, background;
                -o-transition-timing-function: ease;
                width: 380px;
                border-color: #ccc;
                box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
                opacity: 0.6;
            }

        input[type="submit"] {
            background: #222;
            border: none;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
            text-transform: uppercase;
            color: #eee;
            cursor: pointer;
            font-size: 15px;
            margin: 5px 0;
            padding: 5px 22px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }

    textarea {
        padding: 3px;
        width: 96%;
        height: 100px;
    }

        textarea:focus {
            background: #ebf8fd;
            text-indent: 0;
            z-index: 1;
            color: #373737;
            opacity: 0.6;
            box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
            border-color: #ccc;
        }

    .small {
        line-height: 14px;
        font-size: 12px;
        color: #999898;
        margin-bottom: 3px;
    }

    .imdb-rating {
        background-image: url('https://www.mx7.com/i/11a/Zf4FAu.jpg');
        no-repeat;
        background-size: 100% 100%;
        width: 160px;
        height: 36px;
        vertical-align: top;
        display: inline-block;
    }

    .movie-description {
        text-align: left;
    }

    .imdb-rating-content {
        margin: 1px 0 0 69px;
        font-size: 18px;
        color: #000;
    }
BanUL {
    top:0px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    position:fixed;
    width:100%;
}
    BanLI {
    float:right;
    margin-right: 3%;
    margin-top: 1%;
}
</style>
<body>
    <BanUL>
        <a href="@Url.Action("Index", "Movie")"><img id="Logo" src="@Url.Content("~/Content/Images/netflipflop.png")" align="left" alt="" width="258" height="51" /></a>
        <BanLI align="Right">
            @if (User.Identity.IsAuthenticated)
            {
                <strong style="color: #cc0000">Hi! @Html.Encode(User.Identity.Name)</strong><br />
                <a style="color: #cc0000">@Html.ActionLink("Edit Profile", "Edit", "User")</a><span> | </span><a>@Html.ActionLink("LogOut", "LogOut", "User")</a>
            }
            else
            {
                <a style="color: #cc0000">@Html.ActionLink("Log In", "LogIn", "User")</a>
            }
        </BanLI>
    </BanUL>
    <br />
    <br />
    <br />
    <br />
    <div>
    </div>
    <div class="form-horizontal" id="wrapper" style="width:85%">

        <form action="" method="post">
            <fieldset>
                <legend>@Model.NAME</legend>
                <div style="width: 30%; float:left">
                    <img src="@Model.POSTERURL" width="258" height="351" />
                    <br />
                    <br />
                    &nbsp&nbsp<strong>RECOMMEND WATCH NEXT</strong>
                    <br />
                    <br />
                    @if (true)
                    {
                        Entities1 db = new Entities1();
                        List<string> types = new List<string>();
                        int id = Model.ID;
                        foreach (MOVIE_TYPE mt in db.MOVIE_TYPE)
                        {
                            if (mt.ID == id)
                            {
                                types.Add(mt.TYPE);
                            }
                        }

                        int i = 0;

                        foreach (string s in types)
                        {
                            foreach (MOVIE_TYPE mt in db.MOVIE_TYPE)
                            {
                                if (mt.TYPE == s && mt.ID != Model.ID && i < 2)
                                {
                                    <table border="0">
                                            <tr>
                                                <td>
                                                    <center><img src="@db.MOVIE.Find(mt.ID).POSTERURL" width="135" height="190" /></center>
                                                    <br />
                                                    <center>@Html.ActionLink(db.MOVIE.Find(mt.ID).NAME, "Watch/" + mt.ID.ToString(), "MOVIE")</center>
                                                    <br />
                                                </td>
                                            </tr>
                                    </table>
                                    i++;
                                }
                            }
                        }
                    }
                </div>
                <div>
                    <edit>

                        <table>
                            <tr>
                                <td>@Model.TAG</td>
                            </tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <td>
                                    Date Arrive : @Model.DATE_ARRIVE.Day

                                    @Model.DATE_ARRIVE.Date.ToString("MMMMMMMM", CultureInfo.InvariantCulture)
                                    
                                    @Model.DATE_ARRIVE.Year
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <td>
                                    Type : 
                                    @if (true)
                                    {
                                        Entities1 db = new Entities1();
                                        foreach (MOVIE_TYPE mt in db.MOVIE_TYPE)
                                        {
                                            if (mt.ID == Model.ID)
                                            {
                                                <strong>@mt.TYPE&nbsp</strong>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <div class="movie-description">
                                    <div class="imdb-rating">
                                        <div class="imdb-rating-content">
                                            &nbsp&nbsp&nbsp<span>@Convert.ToDouble(Model.SCORE/(float)10).ToString("0.0")</span>
                                            /10
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </table>
                        <br />
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        @if (User.Identity.IsAuthenticated == false)
                                        {
                                            <strong>You're not log in yet</strong>
                                            
                                            <strong>@Html.ActionLink("Log In", "LogIn", "User") or @Html.ActionLink("Sign Up", "Create", "User")</strong>
                                            
                                        }
                                        else if (((MovieController)this.ViewContext.Controller).IsPackageExpired() == true)
                                        {
                                            <strong>Your package is expired. Please @Html.ActionLink("Buy Package", "Edit", "User")</strong>
                                        }
                                        else
                                        {
                                            <iframe src="@Model.VIDEOURL" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </edit>
                </div>

            </fieldset>

        </form>

    </div>
</body>
</html>